<h1>DBZ personajes</h1>
<hr>
<div class="row">
  <div class="col">
    <h4>Listado</h4>
    <div class="list-group">
      <div class="list-group-item">personaje 1</div>
      <div class="list-group-item">personaje 2</div>
    </div>
  </div>

  <div class="col">
    <h4>agregar personaje</h4>
    <form class="row">
      <input class="form-control mb-2" type="text" placeholder="Nombre">
      <input class="form-control" type="number" placeholder="Poder">
      <button class="btn btn-primary" type="submit">
        agregar
      </button>
    </form>
  </div>
</div>
